body
{
	margin: 0;
	padding:0;
/*	background:url(index.jpg) no-repeat;	

*/	background-size:cover;
	background-color:oldlace;
}

.lmenu
{
position:absolute;
top:180px;
width:300px;
height:700px;
border: solid maroon 2px;
}

.menu
{
float:right;
list-style:none;
margin-right:130px;
}

.menu li
{
display:inline-block;
margin:10px 5px;
}

.menu li a
{
text-decoration:none;
color:black;
padding:7px 10px;
font-family:sans-serif;
letter-spacing:2px;
border-color:firebrick;
border-style:solid;
border-width:1px;
}

.menu li a:hover
{
background:firebrick;
transition:.1s;
color:white;
}

.logo
{
float:left;
margin-left:20px;
/*postion fixed*/
background-color:white;
border-radius:30%;
height:100px;
}



h1
{
font-size:40px;
position:absolute;
text-align:center;
font-family:sans-serif;
color:firebrick;
top:0px;
left:200px;
text-decoration:none;
border-radius: 10px 5px 10px 5px;
border:0px gray outset;
/*background-color:red;*/
padding: 5px 10px 10px 10px;
}

.container
{
	width:50%;
	margin-left:250px;
	border:2px solid red;
	padding:10px 0px 0px 120px;
	/*background:url(bg.jpg) no-repeat;
	background-size:600px 900px;*/
	background-color:white;
	margin-top:10px;
	box-shadow:10px 10px 10px black;
}

img
{
	position:fixed;
}

a
{
	text-decoration:none;
}

.nav1
{
background:rgb(255,255,255);
height:100px;
width:99%;
border:solid maroon 3px;
padding-top:10px;
margin-left:0px;

}



input[type=text],select,input[type=number],textarea,input[type=date]
{
	width:50%;
	padding:12px 20px;
	margin:8px 0px;
	display:inline-block;
	border:1px solid black;
	border-radius:4px;
	box-sizing:border-box;
}

input[type=text]:focus
{
	background-color:lightgray;
	border: 3px solid black;
}

input[type=number]:focus
.nav
{
background:rgb(255,255,255);
height:100px;
width:99%;
border:solid red 1px;
padding-top:10px;
position:fixed;
}

{
	background-color:lightgray;
	border: 3px solid black;
}

select:focus
{
	background-color:lightgray;
	border: 3px solid black;
}

textarea:focus
{
	background-color:lightgray;
	border: 3px solid black;
}

input[type=date]:focus
{
	background-color:lightgray;
	border: 3px solid black;
}


input[type=submit]
{
	width:30%;
	background-color:white;
	color:firebrick;
	padding:14px 20px;
	margin:8px 0px 0px 100px;
	border:2px solid black;	
	border-radius:4px;
	cursor:pointer;
}

input[type=submit]:hover
{
	background-color:firebrick;
	color:white;

}



