table
{
	border-collapse:collapse;
	width:100%
}

th,td
{
	border-bottom: 1px solid #ddd;
	text-align:left;
	padding:8px;
	
}
tr:hover
{
	background-color: firebrick;
}
tr:nth-child(even)
{
	background-color: #f2f2f2;
}
th
{
	background-color:firebrick;
	color:white;
}
